* {
	margin: 0;
	padding: 0;
	font-family: 'Quantico', sans-serif;
	font-size: 12px;
}

body {
	width: 100%;
	height: 100vh;
	background: url('./svg/bg.svg') no-repeat;
	background-size: cover;
}

.calculator {
	position: absolute;
	left: calc(50% - 20rem);
	top: calc(50% - 40vh);
	width: 40rem;
	background-color: hsl(0 0% 0% / 0.2);
	border-radius: 1rem;
	-webkit-box-shadow: 0px 0px 20px -1px rgba(66, 68, 90, 1);
	-moz-box-shadow: 0px 0px 20px -1px rgba(66, 68, 90, 1);
	box-shadow: 0px 0px 20px -1px rgba(66, 68, 90, 1);
}
@supports (backdrop-filter: blur()) {
	.calculator {
		background-color: hsl(0 0% 0% / 0);
		backdrop-filter: blur(0.5rem);
	}
}

.screen {
	display: flex;
	flex-direction: column;
	width: 100%;
	box-shadow: 0px 3px 10px hsl(0 0% 0% / 0.5);
	border-radius: 1rem 1rem 0 0;
	background: hsl(0 0% 0% / 0.5);
	color: #fff;
	text-align: right;
	box-sizing: border-box;
	z-index: 1;
}

.previous {
	padding: 1.5rem 1rem 0.5rem 1rem;
	font-size: 3rem;
	color: hsl(0 0% 100% / 0.7);
	height: 5rem;
}

.current {
	padding: 0 1rem 1rem 1rem;
	font-size: 4rem;
	height: 5rem;
}

.buttons-grid {
	width: 100%;
	display: grid;
	gap: 0.3rem;
	grid-template-columns: repeat(4, 1fr);
}

.buttons-grid button:first-child {
	grid-column: span 2;
	background: hsl(0 0% 100% / 0.3);
}

.buttons-grid button:nth-child(15) {
	grid-row: span 2;
	height: auto;
	border-radius: 0 0 1rem 0;
	background: hsl(0 0% 100% / 0.3);
}

.buttons-grid button:nth-child(16) {
	border-radius: 0 0 0 1rem;
}

button {
	position: relative;
	height: 8rem;
	font-size: 3rem;
	background: hsl(0 0% 100% / 0.1);
	border: none;
	color: #fff;
	overflow: hidden;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}

button:hover,
button:focus {
	box-shadow: 0px 0px 5px hsl(0 0% 0% / 0.2);
	text-shadow: 0px 0px 5px hsl(0 0% 0% / 0.5);
	font-size: 3.5rem;
}

button:active {
	box-shadow: 0px 0px 5px hsl(0 0% 0% / 0.2),
		inset 0px 0px 10px hsl(0 0% 0% / 0.9);
	font-size: 3rem;
}

button::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 0;
	height: 0;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
	border-radius: 10rem;
	opacity: 0;
	transition: all 0.5s cubic-bezier(0.45, 0.08, 0.73, 0.88);
}

button:hover::after,
button:focus::after {
	-webkit-box-shadow: 0px 0px 49px 150px hsl(0 0% 100% / 0.3);
	-moz-box-shadow: 0px 0px 49px 150px hsl(0 0% 100% / 0.3);
	box-shadow: 0px 0px 100px 150px hsl(0 0% 100% / 0.3);
	opacity: 1;
	transition: all 1.5s cubic-bezier(0.04, 0.83, 0.49, 0.69);
}
